
.slide-in {
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-transition {
  transition: width 0.3s ease;
}

.sidebar-collapsed {
  width: 5%;
}

.sidebar-expanded {
  width: 20%;
}
